[submodule "blockscout-rs-neti"]
	path = blockscout-rs-neti
	url = ../../Golem-Base/blockscout-rs-neti.git
[submodule "blockscout"]
	path = blockscout
	url = ../../Golem-Base/blockscout.git
[submodule "blockscout-frontend"]
	path = blockscout-frontend
	url = ../../Golem-Base/blockscout-frontend.git
[submodule "golembase-op-geth"]
	path = golembase-op-geth
	url = ../../Golem-Base/golembase-op-geth
